In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [3]:
from pyspark.sql import types
from pyspark.sql import functions as F

In [4]:
import os
import pandas as pd
import pendulum as pdl

# inputs
- city

In [5]:
gcs_bkt = os.getenv('GCP_GCS_BUCKET')

In [6]:
city = 'chicago'

In [7]:
jar_path = os.getenv('JAR_FILE_LOC')
creds_path = '/.google/credentials/' + os.getenv('GOOGLE_APPLICATION_CREDENTIALS')

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('proj_test_observe_data') \
    .set("spark.jars", jar_path) \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", creds_path)

### Only if an existing one already runs:
`sc.stop()`

In [8]:
sc = SparkContext(conf=conf)

22/10/23 07:12:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [9]:
hconf = sc._jsc.hadoopConfiguration()

hconf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hconf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hconf.set("fs.gs.auth.service.account.json.keyfile", creds_path)
hconf.set("fs.gs.auth.service.account.enable", "true")

In [10]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

### 1-time sample download for pandas reading to infer schema for everything else:
command:
`!wget https://data.cityofchicago.org/api/views/hx8q-mf9v/rows.csv?accessType=DOWNLOAD`

output:
```
--2022-10-22 08:53:42--  https://data.cityofchicago.org/api/views/hx8q-mf9v/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.205, 52.206.68.26, 52.206.140.199
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [          <=>       ]  75.99M  2.54MB/s    in 28s     

2022-10-22 08:54:11 (2.68 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [79677853]
```

### check count here: raw csv file
command:
`!wc -l rows.csv?accessType=DOWNLOAD`

### Because of `TypeError: Can not merge type (pandas string to spark double) for 'Location Description', 'location' fields`
Commands:
```
cols = ['Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Arrest', 'Domestic', 'Beat', 'Ward', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Latitude', 'Longitude']
df_pandas = pd.read_csv('rows.csv?accessType=DOWNLOAD', nrows=100, usecols=cols)
```

Command:
`spark.createDataFrame(df_pandas).schema`

Output:
```
StructType([StructField('Case Number', StringType(), True), StructField('Date', StringType(), True), StructField('Block', StringType(), True), StructField('IUCR', StringType(), True), StructField('Primary Type', StringType(), True), StructField('Description', StringType(), True), StructField('Arrest', BooleanType(), True), StructField('Domestic', BooleanType(), True), StructField('Beat', LongType(), True), StructField('Ward', LongType(), True), StructField('FBI Code', StringType(), True), StructField('X Coordinate', DoubleType(), True), StructField('Y Coordinate', DoubleType(), True), StructField('Year', LongType(), True), StructField('Latitude', DoubleType(), True), StructField('Longitude', DoubleType(), True)])
```

In [233]:
# modified pattern from pandas schema
schema_template = types.StructType([
    types.StructField('Case Number', types.StringType(), True),
    types.StructField('Date', types.StringType(), True),
    types.StructField('Block', types.StringType(), True),
    types.StructField('IUCR', types.StringType(), True),
    types.StructField('Primary Type', types.StringType(), True),
    types.StructField('Description', types.StringType(), True),
    types.StructField('Location Description', types.StringType(), True),
    types.StructField('Arrest', types.BooleanType(), True),
    types.StructField('Domestic', types.BooleanType(), True),
    types.StructField('Beat', types.StringType(), True),
    types.StructField('Ward', types.IntegerType(), True),
    types.StructField('FBI Code', types.StringType(), True),
    types.StructField('X Coordinate', types.FloatType(), True),
    types.StructField('Y Coordinate', types.FloatType(), True),
    types.StructField('Year', types.IntegerType(), True),
    types.StructField('Latitude', types.FloatType(), True),
    types.StructField('Longitude', types.FloatType(), True),
    types.StructField('Location', types.StringType(), True)
])

### Replace below with me:
```
df_csv = spark.read \
    .option("header", "true") \
    .schema(schema_template) \
    .csv(f'{gcs_bkt}/raw/{city}/')
```

In [15]:
df_csv = spark.read \
    .option("header", "true") \
    .schema(schema_template) \
    .csv(f'{gcs_bkt}/raw/{city}/' + 'Crimes_-_2001.csv')

### check count here: original df
Command:
`df_csv.count()`

In [16]:
def parse_dt(dt_str):
    return pdl.from_format(dt_str, 'MM/DD/YYYY HH:mm:ss A')

parse_dt_udf = F.udf(parse_dt, returnType=types.TimestampType())

In [151]:
df_time = df_csv \
    .filter(F.col('Date').isNotNull() & F.col('IUCR').isNotNull()) \
    .withColumn('Timestamp', parse_dt_udf(df_csv.Date))

5841

### check count here: non-null df
Command:
`df_time.count()`

In [162]:
years_rows = df_time.dropDuplicates(['Year']).select('Year').collect()
years = [row.Year for row in years_rows]

<class 'int'>

In [172]:
# selected columns for analysis
df_time_cols = ['Case Number', 'Timestamp', 'Block', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'Latitude', 'Longitude']

for year in years:
    df = df_time.filter(F.col('Year') == year)
    for month in range(1, 13):
        df_filtered = df.filter(F.month('Timestamp') == month) \
            .select(df_time_cols)
        for col in df_time_cols:
            df_filtered = df_filtered.withColumnRenamed(col, col.lower().replace(' ', '_'))
        df_filtered.write.parquet(f'{gcs_bkt}/pq/{city}/{year}/{month}', mode='overwrite')

In [ ]:
sc.stop()

In [201]:
df_time.show()

+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+----+--------+------------+------------+----+---------+---------+--------------------+-------------------+
|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|Ward|FBI Code|X Coordinate|Y Coordinate|Year| Latitude|Longitude|            Location|          Timestamp|
+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+----+--------+------------+------------+----+---------+---------+--------------------+-------------------+
|   JA366925|01/01/2001 11:00:...|     016XX E 86TH PL|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|0412|   8|      11|        null|        null|2001|     null|     null|                null|2001-01-01 11:00:00|
|    G553545|09/15/2001 02:00:...|     013XX W POLK ST|0460|             BATTERY|              SIMPLE|              STREET| false|   false|1213|null|     08B|        null|        null|2001|     null|     null|                null|2001-09-15 02:00:00|
|    G666677|11/02/2001 06:30:...| 002XX W CONGRESS PW|0810|               THEFT|           OVER $500|               OTHER| false|   false|0131|null|      06|        null|        null|2001|     null|     null|                null|2001-11-02 18:30:00|
|    G749215|12/15/2001 02:00:...|    011XX N STATE ST|0460|             BATTERY|              SIMPLE|              STREET| false|   false|1824|null|     08B|        null|        null|2001|     null|     null|                null|2001-12-15 02:00:00|
|   JB152500|01/01/2001 12:00:...| 050XX N ASHLAND AVE|1754|OFFENSE INVOLVING...|AGG SEX ASSLT OF ...|           RESIDENCE| false|   false|2032|  47|      02|        null|        null|2001|     null|     null|                null|2001-01-01 00:00:00|
|   JC165537|10/02/2001 04:30:...| 104XX S CALHOUN AVE|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0434|  10|      11|        null|        null|2001|     null|     null|                null|2001-10-02 16:30:00|
|   JC177632|01/01/2001 09:00:...|075XX S PHILLIPS AVE|1154|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|0421|   7|      11|        null|        null|2001|     null|     null|                null|2001-01-01 09:00:00|
|   JA391845|08/15/2001 12:01:...| 024XX N KEDZIE BLVD|1154|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|1413|  35|      11|        null|        null|2001|     null|     null|                null|2001-08-15 00:01:00|
|   JB191329|09/19/2001 12:00:...|027XX N SPAULDING...|1153|  DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|               OTHER| false|   false|1412|  35|      11|        null|        null|2001|     null|     null|                null|2001-09-19 12:00:00|
|    G178878|03/29/2001 03:20:...| 007XX W MONTROSE AV|0810|               THEFT|           OVER $500|              STREET| false|   false|2313|null|      06|        null|        null|2001|     null|     null|                null|2001-03-29 15:20:00|
|    G673581|11/08/2001 04:18:...|014XX N KILPATRIC...|2027|           NARCOTICS|         POSS: CRACK|              STREET|  true|   false|2533|null|      18|        null|        null|2001|     null|     null|                null|2001-11-08 16:18:38|
|    G484600|08/14/2001 10:00:...|    003XX W SCOTT ST|0810|               THEFT|           OVER $500|              STREET| false|   false|1821|null|      06|        null|        null|2001|     null|     null|                null|2001-08-14 22:00:00|
|    G526151|09/03/2001 09:00:...|  030XX S CALIFORNIA|0110|            HOMICIDE| FIRST DEGREE MURDER|         COUNTY JAIL|  true|   false|1034|null|     01A|         0.0|         0.0|2001|36.619446|-91.68657|(36.619446395, -9...|2001-09-03 21:00:00|
|    G070134|02/03/2001 01:29:...|039XX S DAN RYAN ...|1812|           NARCOTICS|POSS: CANNABIS MO...|              STREET|  true|   false|0925|null|      18|        null|        null|2001|     null|     null|                null|2001-02-03 13:29:48|
|    G091286|02/13/2001 03:00:...|   051XX S KARLOV AV|1320|     CRIMINAL DAMAGE|          TO VEHICLE|               OTHER| false|   false|0815|null|      14|        null|        null|2001|     null|     null|                null|2001-02-13 15:00:00|
|    G088654|02/12/2001 07:10:...|067XX S GREENWOOD AV|0320|             ROBBERY|STRONGARM - NO WE...|              STREET| false|   false|0321|null|      03|        null|        null|2001|     null|     null|                null|2001-02-12 19:10:00|
|    G088567|02/12/2001 06:05:...|   028XX W BELDEN AV|031A|             ROBBERY|      ARMED: HANDGUN|            SIDEWALK| false|   false|1414|null|      03|        null|        null|2001|     null|     null|                null|2001-02-12 18:05:00|
|    G086730|02/11/2001 09:01:...| 014XX W HASTINGS ST|1350|   CRIMINAL TRESPASS|   TO STATE SUP LAND|CHA HALLWAY/STAIR...|  true|   false|1231|null|      26|        null|        null|2001|     null|     null|                null|2001-02-11 21:01:33|
|    G098599|02/17/2001 06:15:...|012XX S LAKE SHOR...|031A|             ROBBERY|      ARMED: HANDGUN|               OTHER|  true|   false|0133|null|      03|        null|        null|2001|     null|     null|                null|2001-02-17 18:15:00|
|    G086755|02/11/2001 08:45:...| 014XX W HASTINGS ST|2021|           NARCOTICS|   POSS: BARBITUATES|CHA PARKING LOT/G...|  true|   false|1231|null|      18|        null|        null|2001|     null|     null|                null|2001-02-11 20:45:00|
+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+----+--------+------------+------------+----+---------+---------+--------------------+-------------------+
only showing top 20 rows

### check date here: csv df, strdate col
Command:
```
df_time \
    .filter(F.split('Date', ' ').getItem(0) == '01/01/2001') \
    .count()
```

### check date here: csv df, datetime col
Command:
```
df_time \
    .filter(F.month('Timestamp') == 1) \
    .groupBy(F.dayofmonth('Timestamp')) \
    .count() \
    .orderBy('count').show()
```

### test pq accuracy
Command:
```
df_pq = spark.read \
    .option("header", "true") \
    .parquet(f'{gcs_bkt}/pq/{city}/2001/1')
```

### check count here: pq df
Command:
`df_pq.count()`

### check date here: pq df, datetime col
Command:
```
df_time \
    .filter(F.month('Timestamp') == 1).count()
```